body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#Titulo,
#Subtitulo {
  transition: opacity 0.5s ease;
}

.primeira-tela {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Video-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.button-container {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1001;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-container:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.05);
}

.Arquivos,
.Linha-do-tempo {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623);
  font-weight: 500;
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "Arctic";
  src: url("Fontes/ArcticFF/Arctic.otf") format("truetype");
}

#Titulo {
  color: rgb(34, 136, 204);
  font-family: "Arctic", sans-serif;
  font-weight: bold;
  font-size: 100px;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 1001;
}

#Titulo:hover {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 35px rgba(34, 136, 204, 0.7),
    0 0 10px rgba(34, 136, 204, 0.7);
}

#Subtitulo {
  color: white;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623);
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  font-size: 48px;
  padding: 5px;
  text-align: center;
}

#Subtitulo:hover {
  color: #2288cc;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6), 0 0 25px rgba(34, 136, 204, 0.5),
    0 0 10px rgba(34, 136, 204, 0.7);
}

a:visited {
  color: rgb(255, 255, 255);
}

.botao-home {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1002;
}

.botao-home:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.botao-home:active {
  transform: scale(0.95);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: white;
  padding: 8px 10px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  width: 200px;
  font-family: "Playfair Display", serif;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  top: 100%;
  right: 0;
}
.dropbtn:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown-content a {
  color: rgb(34, 136, 204);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: rgba(34, 136, 204, 0.7);
  color: rgb(34, 136, 204);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.dropbtn:hover .menu-icon {
  transform: scale(1.1);
}
.segunda-tela {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  margin-top: 0;
  transition: background-image 1s ease-in-out;
  background-attachment: local;
  background-image: url("src/img/GOSTEI 3.jpg");
}
#Titulo-segun {
  color: rgb(34, 136, 204);
  font-family: "Arctic", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);

  transition: all 0.3s ease;
  z-index: 1001;
}

#Titulo-segun:hover {
  color: rgb(255, 255, 255);

  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
#Botao-ajuda {
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 136, 204, 0.8);
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 1002;
}

#Botao-ajuda:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(34, 136, 204);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
#Botao-ajuda:active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
